<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container d-flex justify-content-center align-items-center">
      <a class="navbar-brand mr-auto" href="/">
        <img src="assets/img/nav.png" alt="Icono" width="32" height="32">
        MIS TAREAS PENDIENTES</a>
  
      <!--Para dispositivos pequeños-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!--Contenido redes sociales-->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <!--Enlace a GitHub-->
          <li class="nav-item">
            <a href="https://github.com/LenRiv" class="nav-link" target="_blank">
              <i class="fab fa-github"></i> GitHub
            </a>
          </li>
  
          <!--Enlace a LinkedIn-->
          <li class="nav-item">
            <a href="https://www.linkedin.com/in/lorenarivasramirez-fullstackdev" class="nav-link" target="_blank">
              <i class="fab fa-linkedin"></i> LinkedIn
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>